.home-container {
  padding: 20px 10px 21px 10px;
  font-size: 22px;
  text-align: center;
}

.home-card {
  display: flex;
  flex-direction: column-reverse;
  background-color: #00285f;
  border-radius: 10px;
}

.home-content-container {
  height: 135px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-content-container h1 {
  font-size: 22px;
  margin-bottom: 13px;
}

.home-content-container p {
  width: 250px;
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 51px;
}

.home-image-container {
  padding: 62px 28px 35px 28px;
}

.home-image-container img {
  width: 100%;
  height: auto;
}

@media (min-width: 576px) {
  .home-container {
    padding: 30px 20px;
  }

  .home-content-container h1 {
    width: 506px;
    font-size: 36px;
    margin-bottom: 0px;
  }

  .home-content-container p {
    width: 420px;
    font-size: 18px;
    margin-bottom: 41px;
  }

  .home-image-container {
    padding: 22px 102px 19px 101px;
  }

  .home-image-container img {
    width: 333px;
  }
}

@media (min-width: 768px) {
  .home-card {
    display: flex;
  }

  .home-content-container {
    height: 156px;
    display: flex;
  }

  .home-image-container img {
    width: 333px;
    height: 199px;
    margin-top: 79px;
    margin-bottom: 10px;
  }
}

@media (min-width: 992px) {
  .home-card {
    display: flex;
  }

  .home-content-container {
    height: 200px;
    display: flex;
  }

  .home-image-container {
    padding: 0px;
  }

  .home-image-container img {
    width: 455px;
    height: 272px;
    margin-top: 82px;
    margin-bottom: 17px;
  }
}

.home-content-container p {
  margin-bottom: 124px;
}

@media (min-width: 1280px) {
  .home-container {
    padding: 30px 151px 30px 150px;
  }

  .home-card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .home-content-container {
    display: flex;
    width: 400px;
    padding: 140px 0px 0px 30px;
    align-items: flex-start;
    text-align: left;
    align-content: space-around;
  }

  .home-image-container img {
    width: 333px;
    height: 199px;
    margin-bottom: 83px;
  }
}
