.btn-card {
    padding: 7px 0px 25px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  
  .btn-card button {
    display: flex;
    align-items: center;
    width: 174px;
    height: 100%;
    margin-top: 21px;
    justify-content: center;
  }
  
  .btn-card h6 {
    color: #ffffff;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
  }